
/*----------  vendors  ----------*/
@import "../../../node_modules/bootstrap/scss/bootstrap";
/*----------  /vendors  ----------*/

.c-formSignin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

