<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>登入頁面</title>
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="assets/css/all.css">
</head>
<body>
  <div id="app">
    <div class="container vh-100 d-flex align-content-center justify-content-center">
      <form class="c-formSignin text-center" @submit.prevent="signin">
        <h1 class="h3 mb-3 font-weight-normal">
          請先登入
        </h1>
        <div class="form-group">
          <label for="inputEmail" class="sr-only">輸入 e-mail 帳號</label>
          <input id="inputEmail" v-model="user.email" type="email" class="form-control" placeholder="輸入 e-mail 帳號"
            required autofocus>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="sr-only">輸入密碼</label>
          <input id="inputPassword" v-model="user.password" type="password" class="form-control"
            placeholder="輸入密碼" required>
        </div>
        <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">
          登入
        </button>
        <button class="btn btn-outline-primary btn-block mb-3" type="button" @click="signout">
          登出
        </button>
        <button class="btn btn-outline-primary btn-block mb-2" type="button" @click="getData">
          取得資料
        </button>
        <p class="small text-muted mt-0">
          © 2020 | Desing by JimmyWy
        </p>
      </form>
    </div>
  </div>
  <script src="assets/js/vendors.js"></script>
  <script src="assets/js/all.js"></script>
</body>
</html>